body::before{
    display:block;
    content:'';
    height: 70px ;
}
.card-text{
    line-height: 2rem;
}
.para{
    font-size:2rem;
}
.web{
    font-size:1.2rem;
}
.bs{
    font-size:1.2rem;   
}
.typewrite{
    text-decoration: none;
}